@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('.ttf');
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fjallaone/v13/Yq6R-LCAWCX3-6Ky7FAFrOF6kjouQb4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Gloock';
    src: url('Gloock/Gloock-Regular.ttf') format('.ttf');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-wjwxUD2GFw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


body {
    text-align: center;
    background-color: #2f2d2d;
}

#c {
    font-family: 'Gloock';
    color: white;
}

.cheatsheet {
    font-family: 'Fjalla One';
    color: white;
}

.wrapper {
    text-align: center;
    padding-right: 19px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th {
    background-color: royalblue;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    width: 190px;
}

td {
    font-family: 'Raleway', sans-serif;
    color: white;
    border-top: 1px solid orange;
}

.code {
    background-color: black;
    font-size: 18px;
}

.index {
    background-color: black;
    font-size: 18px;
}

.idx {
    background-color: gray;
    font-size: 18px;
}

table {
    border: 2px solid blue;
    width: 650px;
    margin: 0 auto;
}

a {
    text-align: left;
}

p {
    color: white;
    font-family: 'Quicksand';
    font-size: 19px;
}

img {
    border-radius: 50%;
    text-align: center;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

img:hover {
    opacity: .5;
}
