@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
/* code: font-family: 'Delicious Handrawn', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
/* code: font-family: 'Edu NSW ACT Foundation', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* code: font-family: 'Abel', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

body {
    background-image: url('background.jpeg');
    background-size: cover;
    font-size: 25px;
    background-position: center center fixed;
}

/*.container {
    background-color: transparent;
    box-shadow: 0 0 10px #000;
}*/

.wrapper #logo img {
  border-radius: 50%;
  max-height: 100px;
  max-width: auto;
  padding-top: 20px;
}

.wrapper #idx {
    margin-top: 20px;
    text-align: right;
    padding: 20px;
  }
  
  .wrapper #idx ul {
    display: inline-block;
    margin: 0;
    padding: 20px 0 0 0;
  }
  
  .wrapper #idx li {
    display: inline;
    margin-right: 25px;
    font-size: 20px;
  }
  
  .wrapper #idx a {
    color: white;
    text-align: left;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
  }

  .wrapper #idx {
    margin-top: -115px;
  }

#idx a:hover {
    color: brown;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*.img-container #welcome {
   background-image: url('images/welcome-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center !important;
    color: white;
    font-size: 30px;
    margin-bottom: 120px;
    height: 800px; 
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

#welcome h3 {
  margin-top: 300px;
  margin: 0;
  text-align: center;
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  margin-bottom: 300px;
  font-family: 'Alkatra', cursive;
  color: white;
}

h2 {
  color: white;
  font-family: 'Edu NSW ACT Foundation', cursive;
  text-align: center;
  margin-top: 40px;
}

.coffee-container {
  /*background: linear-gradient(to right, #2E1503, #3B1E08);*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.coffee-container #coffee-img img {
  flex-shrink: 1;
  max-height: 300px;
  min-width: 400px;
  margin: 10px;
}

.coffee-container #coffee-img1 img {
  flex-shrink: 1;
  max-height: 300px;
  min-width: 400px;
  margin: 10px;
}

.coffee-container #coffee-img2 img {
  flex-shrink: 1;
  max-height: 300px;
  min-width: 400px;
  margin: 10px;
  display: flex;
}

.coffee-container #coffee-img3 img {
  flex-shrink: 1;
  max-height: 300px;
  min-width: 400px;
  margin: 10px;
}

.coffee-container #coffee-img4 img {
  flex-shrink: 1;
  max-height: 300px;
  min-width: 400px;
  margin: 10px;
}

.coffee-container h3 {
  color: white;
  text-align: center;
}

.coffee-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coffee-container1 > div {
  margin: 10px;
}

.coffee-container {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.about-container #about img {
  max-width: 800px;
  max-height: 600px;
}

.about-container #about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container h3 {
  display: inline-block;
  width: 45%;
  vertical-align: middle; 
  margin-left: 5%; 
  color: white;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 50px;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.team {
  margin-top: 50px;
  margin-bottom: 50px;
}

.team-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-img #sonic, #tails, #knuckles {
  display: inline-block;
}

.team-img #sonic, #tails {
  vertical-align: top;
}

.team-img #knuckles {
  margin-left: 20px; 
}


.team-img img {
  max-width: 250px;
  max-height: 250px;
  margin: 20px;
}

.team h2 {
  margin-top: 0;
}

.team-img h3 {
  color: white;
  text-align: center;
  font-family: 'Abel', sans-serif;;
}

.team-img img:hover {
  transform: scale(1.5);
}


footer .footer h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h4 {
  color: white;
  font-family: 'Delicious Handrawn', cursive;
}


/*@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .coffee-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
  }
  .coffee-container #coffee-img3 img {
    max-height: 100%;
    width: auto;
  }
  .coffee-container #coffee-img4 img {
    max-height: 100%;
    width: auto;
  }
}*/

/*@media only screen and (max-width: 768px) {
  .coffee-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
  }
  .coffee-container #coffee-img3 img {
    max-height: 300px;
    width: auto;
  }
  .coffee-container #coffee-img4 img {
    max-height: 300px;
    width: auto;
  }
}*/

@media only screen and (max-device-width: 780px) and (orientation: portrait) {
  .coffee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .coffee-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .coffee-container1 #coffee-img3 img {
    max-height: 300px;
    min-width: 400px;
  }
  .coffee-container1 #coffee-img4 img {
    max-height: 300px;
    min-width: 400px;
  }
  .wrapper #idx a {
    display: inline-flex;
    flex-wrap: wrap;
    float: right;
    margin: 10px;
    margin-top: 20px;
  }

  .team-img {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  .team-img img {
    max-width: 800px;
    max-height: 600px;
    margin: 70px;
    margin-right: 30px;
  }

  .team-container img {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .coffee-container1 {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: scroll;
  }
  .coffee-container1 #coffee-img3 img {
    max-height: 300px;
    min-width: 400px;
  }
  .coffee-container1 #coffee-img4 img {
    max-height: 300px;
    min-width: 400px;
  }
  .about-container #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-container #about img {
    max-width: 800px;
    max-height: 600px;
  }
  
  .about-container h3 {
    color: white;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 50px;
    margin-top: 20px; 
    text-align: center; 
    width: 80%;
  }
  .wrapper #idx {
    margin-top: -125px;
  }
  .wrapper #idx a {
    font-size: 14px;
  } 
    
  footer h4 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 15px;
  }
  #idx ul {
    display: flex;
    flex-direction: column;
  }

  .wrapper #idx a {
    float: right;
    margin: 10px;
    margin-top: 20px;
  }
  
}
